#python manage.py dumpdata --exclude contenttypes --exclude auth.permission --format=json myapp > /path/to/myapp/fixtures/initial_data.json
FIXTURE_DIRS = (
   'YOUR_PATH/star/scheduler/fixtures/initial_data.json',
)

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3', # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': 'YOUR_PATH/star/schedule.db',  # Or path to database file if using sqlite3.
        # The following settings are not used with sqlite3:
        'USER': '',
        'PASSWORD': '',
        'HOST': '',                      # Empty for localhost through domain sockets or '127.0.0.1' for localhost through TCP.
        'PORT': '',                      # Set to empty string for default.
    }
}

EXTRA_APPS = ()