{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <link rel="stylesheet" href="{% static "scheduler/style.css" %}"/>
    {% endblock %}

    <title>{% block title %}Welcome to STAR, Scheduling Tool for Academic Registration{% endblock %}</title>
</head>

<body>

<div id="wrap">
    <div id="header"><h1>STAR</h1></div>
    {% if user.is_authenticated %}
        <div id="user_info">
            Logged in as: {{ user.first_name }} {{ user.last_name }}
        </div>
    {% endif %}

    <div id="nav">
        {% if user.is_authenticated %}
            {% block nav %}
                <ul>
                    <li><a href="/user_stuff/logout">Logout</a></li>
                    <li><a href="/user_stuff/student">Home</a></li>
                    <li><a href="/scheduler/schedule">Schedule</a></li>
                    ...
                </ul>
            {% endblock %}
        {% endif %}
    </div>
    <div id="main">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/scheduler/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="footer">
        <p>SOEN 341 Fall 2013</p>
    </div>
</div>
</body>
</html>


