{% extends "base.html" %}

{% load staticfiles %}

{% block head %}

    <link rel="stylesheet" href="{% static "scheduler/style.css" %}" type="text/css"/>
    <link rel='stylesheet' href="{% static "scheduler/fullcalendar.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "scheduler/jquery-ui-1.8.16.custom.css" %}" type="text/css"/>

    <script src="{% static "scheduler/jquery-1.7.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/jquery.idTabs.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/scheduler.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/jquery.ui.core.min.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/jquery.ui.widget.min.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/jquery.ui.position.min.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/jquery.ui.autocomplete.min.js" %}" type="text/javascript"></script>
    <script src="{% static "scheduler/fullcalendar.min.js" %}" type="text/javascript"></script>


    <script type="text/javascript">

        $(function () {
            //for drop down menu in case if the check box doesn't work properly
            //var select = $( "#selectType" ),
            //options = select.find( "option" );
            //var selectType = options.filter( ":selected" ).attr( "value" );

            var allVals = [];
            $('#add_course_wrap :checked').each(function () {
                allVals.push($(this).val());
            });
            if (allVals.length = 1)
                var sourceFind = "search_for_course_by_name_and_semester?semester_id=" + allVals[0];
            else
                var sourceFind = "search_for_course_by_name_and_semester?semester_id=" + allVals[0] + "?semester_id=" + allVals[1];
            $("#search").autocomplete(
                    {
                        source: sourceFind,
                        minLength: 2,
                        select: function (event, ui) {
                            $("#search").val(ui.item.label);
                            return false;
                        }
                    })
                    .data("autocomplete")._renderItem = function (ul, item) {
                return $("<li></li>")
                        .data("item.autocomplete", item)
                        .append("<a><strong>" + item.label + "</strong><br />" + item.desc + "</a>")
                        .appendTo(ul);
            };
        });


    </script>
{% endblock %}
{% block title %} Search for course {% endblock %}

{% block content %}

    <h2>Search</h2>

    <form action="add_course" method="post">
        {% csrf_token %}
        <div id="add_course_wrap">
            {% for semester in open_semesters %}
                <input type="checkbox" name="semester_id" value="{{ semester.id }}" checked/>
                {{ semester.name|capfirst }}
            {% endfor %}
            <input name="course_name" type="text" id="search"/>
            <button id="searchBtn">Add</button>
        </div>
    </form>

    <form action="generate_schedule" method="post">
        {% csrf_token %}
        <div id="course_list_wrap">
            <table id="course_list">
                {% for course in course_list %}
                    <tr>
                        <td class="course_list_item" width="80%">
                            <input type="hidden" name="course_{{ forloop.counter }}"/>
                            {{ course }}
                            <div class="description">{{ course.name }}</div>
                        </td>
                        <td class="course_list_item">
                            <select name="select_{{ forloop.counter }}">
                                <option>Any</option>
                                <option>Mornings</option>
                                <option>Afternoons</option>
                                <option>Evenings</option>
                                {% for perm in course.section_perms %}
                                    <option>
                                        {% for section in perm %}
                                            <p>{{ section.name }}</p>
                                        {% endfor %}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="course_list_item">
                            <a class="remove_link" href="remove_course?course_name={{ course.name }}">Remove</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if course_list %}
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <button type="submit" value="Generate Schedule">Generate Schedule</button>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </form>

{% endblock %}

{% block sidebar %}
    <h3>Progression Chart</h3>
    <div>

        <ul class="idTabs" id="progression">
            <li><a href="#yearone">yr 1</a></li>
            <li><a href="#yeartwo">yr 2</a></li>
            <li><a href="#yearthree">yr 3</a></li>
            <li><a href="#yearfour">yr 4</a></li>
        </ul>

        <div id="yearone">
            <div class="classCompleted">COMP 232</div>
            <div class="classCompleted">COMP 248</div>
            <div class="classCompleted">ENGR 201</div>
            <div class="classCompleted">ENGR 213</div>
            <div class="classCompleted">General Elective</div>
            <div class="classCompleted">COMP 249</div>
            <div class="classCompleted">ENGR 233</div>
            <div class="classCompleted">SOEN 228</div>
            <div class="classCompleted">SOEN 287</div>
            <div class="classCompleted">Basic Science</div>
        </div>
        <div id="yeartwo">
            <div class="classCompleted">COMP 348</div>
            <div class="classCompleted">COMP 352</div>
            <div class="classCompleted">ENCS 282</div>
            <div class="classCompleted">ENGR 202</div>
            <div class="classCompleted">Basic Science</div>
            <div class="classCompleted">COMP 346</div>
            <div class="classCompleted">ELEC 275</div>
            <div class="classCompleted">ENGR 371</div>
            <div class="classNotCompleted">SOEN 331</div>
            <div class="classCompleted">SOEN 341</div>
        </div>

        <div id="yearthree">
            <div class="classNotCompleted">COMP 335</div>
            <div class="classNotCompleted">SOEN 342</div>
            <div class="classNotCompleted">SOEN 343</div>
            <div class="classNotCompleted">SOEN 384</div>
            <div class="classNotCompleted">Technical Elective</div>
            <div class="classNotCompleted">SOEN 344</div>
            <div class="classNotCompleted">SOEN 345</div>
            <div class="classNotCompleted">SOEN 357</div>
            <div class="classNotCompleted">SOEN 390</div>
            <div class="classNotCompleted">SOEN 385</div>
        </div>
        <div class="yearfour">
            <div class="classNotCompleted">SOEN 490</div>
            <div class="classNotCompleted">ENGR 391</div>
            <div class="classNotCompleted">Technical Elective</div>
            <div class="classNotCompleted">Technical Elective</div>
            <div class="classNotCompleted">Technical Elective</div>
            <div class="classNotCompleted">SOEN 385</div>
            <div class="classNotCompleted">ENGR 392</div>
            <div class="classNotCompleted">SOEN 490</div>
            <div class="classNotCompleted">Technical Elective</div>
            <div class="classNotCompleted">Technical Elective</div>
        </div>
    </div>

{% endblock %}