{% extends "base.html" %}

{% block title %} Registration {% endblock %}

{% block content %}
    <h3>
        Register for a course
    </h3>

    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="course_search" id="course_search" />
        <select name="semester_name">
            {% for semester in open_semesters %}
                <option value="{{ semester }}"
                        {% if semester == current_semester %}selected="selected"{% endif %}>
                    {{ semester|capfirst }}
                </option>
            {% endfor %}
        </select>

        <input type="submit" value="Register"/>
    </form>
    <h3>
        You are currently registered for the following courses
    </h3>
    <table>
        {% for course in user.student.registered_courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td><a href="/scheduler/drop?course_name={{ course.name }}">drop</a></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}