{%  extends "base.html" %}

{% block head %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                // put your options and callbacks here

                editable: true,
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                weekends: true,
                defaultView: 'agendaWeek',
                columnFormat: 'ddd',
                events: "stream_schedule"
            })

        });
    </script>

{% endblock %}

{% block content %}
    <h2>Schedule</h2>
    <div id='calendar'></div>
{% endblock %}

{% block sidebar %}

{% endblock %}