﻿{% extends "base.html" %}

{% load staticfiles %}

{% block title %} Schedule {% endblock %}

{% block head %}

    <script type="text/javascript">
        $(document).ready(function () {
            $('#calendar').fullCalendar({
                // put your options and callbacks here

                editable: true,
                header: {
                    left: '',
                    center: '',
                    right: ''
                },
                weekends: true,
                defaultView: 'agendaWeek',
                columnFormat: 'ddd',
                events: "stream_schedule"
            })

        });
    </script>
{% endblock %}

{% block content %}

    <h3>Generated Schedule</h3>
    <div id='calendar'></div>

{% endblock %}

{% block sidebar %}
{% endblock %}