{% extends "base.html" %}

{% block head %}

    <script type="text/javascript">
        $(document).ready(function () {

            {% for index in schedule_count %}

                $('#calendar{{ forloop.counter }}').fullCalendar({
                    // put your options and callbacks here

                    editable: true,
                    header: {
                        left: '',
                        center: '',
                        right: ''
                    },
                    weekends: true,
                    defaultView: 'agendaWeek',
                    columnFormat: 'ddd',
                    year: 2013,
                    month: 8,
                    date: 1,
                    timeFormat: '',
                    minTime: 8,
                    allDaySlot: false,
                    eventColor: '#222',
                    events: "stream_schedule?index={{ forloop.counter }}"
                });

            {% endfor %}
        });
    </script>

{% endblock %}

{% block content %}
    <h2>Schedule</h2>
    {% if schedule_count %}
        {% for semester in schedule_count %}
            <div class="calendar_wrap">
                <div>{{ semester }}</div>
                <div id='calendar{{ forloop.counter }}'></div>
            </div>
        {% endfor %}
    {% else %}
        <div class="error">
        Sorry, no viable schedules were found.
        </div>
    {% endif %}
{% endblock %}

{% block sidebar %}

{% endblock %}