{% extends "base.html" %}

{% block title %} Student Registration and Scheduling {% endblock %}

{% block content %}
    Welcome {{ user.first_name }} {{ user.last_name }}

    <h3>
        Register for a course
    </h3>
    <form action="/scheduler/register" method="post">
        {% csrf_token %}
        <input type="text" name="course_name"/>
        <input type="submit" value="Register" />
    </form>
    <h3>
        You are currently registered for the following courses
    </h3>
    <table>
        {% for course in user.student.registered_courses %}
            <tr>
                <td>{{ course.name }}</td> <td> <a href="/scheduler/drop?course_name={{ course.name }}">drop</a></td>
            </tr>
        {% endfor %}
    </table>

    <h3>
        You have completed the following courses
    </h3>
    <table>
        {% for course in user.student.completed_courses %}
            <tr>
                <td>{{ course.name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}