body,
html {
    border-color: Black;
    font-family: Calibri;
    font-size: 20px;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #000;
    background: #a7a09a;
}

/*The css for the jquery tabs*/
.idTabs {
    margin: 5px;
}

.idTabs ul {
    background: black;
    padding: 5px;
    float: left;
}

.idTabs li {
    list-style: none; /*Try deleting this float*/
    float: left;
}

.idTabs a {
    display: block;
    background: #ddd;
    color: black;
    padding: 5px;
    font-size: 16px;
    text-decoration: none;
    width: 50px;
}

.idTabs a.selected {
    background: lightblue;
    color: #000;
}

/* the css for the button taken online*/
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Calibri;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

button.clean-gray {
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
    background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
    background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
    background-image: linear-gradient(top, #eeeeee, #cccccc);
    border: 1px solid #ccc;
    border-bottom: 1px solid #bbb;
    border-radius: 3px;
    color: #333;
    font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    padding: 8px 0;
    text-align: center;
    text-shadow: 0 1px 0 #eee;
    width: 150px;
}

button.clean-gray:hover {
    background-color: #dddddd;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
    background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
    background-image: linear-gradient(top, #dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
}

button.clean-gray:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

/******************************************/
.header {
    border-style: solid;
    border-color: Black;
    border-radius: 3px;
    background-color: #123456;
    color: White;
    position: relative;
    height: 15%;
}

.container {
    left: 10%;
    position: absolute;
    width: 80%;
    height: 100%;
}

.leftNav {
    height: 100%;
    border-radius: 2px;
    background-color: white;
    border-style: solid;
    position: relative;
    float: left;
    width: 30%;
}

.rightNav {
    background-color: white;
    height: 100%;
    border-style: solid;
    position: relative;
    float: right;
    width: 68.5%;

    /*background-color:Blue;*/
}

.classCompleted {
    margin: 3px;
    padding: 5px;
    background-color: lightgreen;
}

.classNotCompleted {
    margin: 3px;
    padding: 5px;
    background-color: #FF9999;
}

#progression {
    margin: 5px;
    padding: 5px;
    height: 23px;
}

.footer {
    border: 2px;
    border-style: solid;
}

/* highlight results */
.ui-autocomplete span.hl_results {
    background-color: #ffff66;
}

/* loading - the AJAX indicator */
.ui-autocomplete-loading {
    background: white url('../img/ui-anim_basic_16x16.gif') right center no-repeat;
}

/* scroll results */
.ui-autocomplete {

    max-height: 250px;
    width: 250px;
    border-style: solid;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: auto;
    /* add padding for vertical scrollbar */
    padding-right: 5px;
}

.ui-autocomplete li {
    font-size: 16px;
}

/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 200px;
}

#wrap {
    width: 800px;
    min-height:600px;
    height:auto;
    margin: 0 auto;
    background: #ccc;
}

#header {
    padding: 5px 10px;
    background: #ddd;
}

h1 {
    margin: 0;
}

#nav {
    padding: 5px 10px;
    background: #bbb;
}

#nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

#main {
    float: left;
    min-height: 600px;
    height: 100%;
    width: 480px;
    padding: 10px;
    background: #ccc;
}

h2 {
    margin: 0 0 1em;
}

#sidebar {
    float: right;
    width: 280px;
    height: 100%;
    padding: 10px;
    background: #ccc;
}

#footer {
    clear: both;
    padding: 5px 10px;
    background: #ddd;
}

#footer p {
    margin: 0;
}

* html #footer {
    height: 1px;
}

#calendar {
    width: 620px;
    margin: 0 auto;
}

#user_info {
    float: right;
    margin-right: 10px;
}

#login {
    margin-left: 30px;
}

.course_list_item {
    padding: 5px 5px;
    margin: 5px 5px;
    background: #ddd;
}

#course_list {
    background: #bbb;
    width: 100%;
}

#course_list_wrap {
    padding: 5px 5px;
    margin: 5px 5px;
    height: 450px;
    background: #eee;
}

.course_list_item a:link {
    color: #FF0000;
    font-size: 12px;
}

/* unvisited link */
.course_list_item a:visited {
    color: #FF0000;
}

/* visited link */
.course_list_item a:hover {
    color: #FFF;
}

.description {
    font-size: 12px;
}

/* mouse over link */
.course_list_item a:active {
    color: #AAA;
}

#add_course_wrap {
    padding: 5px 5px;
    margin: 5px 5px;
    background: #eee;
}

.error {
    color: red;
}

.calendar_wrap {
    padding: 10px 10px;
}

.course1,
.course1 div,
.course1 span {
    background-color: red; /* background color */
    border-color: red;     /* border color */
    color: white;           /* text color */
}

.course2,
.course2 div,
.course2 span {
    background-color: yellow; /* background color */
    border-color: yellow;     /* border color */
    color: black;           /* text color */
}

.course3,
.course3 div,
.course3 span {
    background-color: green; /* background color */
    border-color: green;     /* border color */
    color: white;           /* text color */
}

.course4,
.course4 div,
.course4 span {
    background-color: orange; /* background color */
    border-color: orange;     /* border color */
    color: black;           /* text color */
}

.course5,
.course5 div,
.course5 span {
    background-color: purple; /* background color */
    border-color: purple;     /* border color */
    color: white;           /* text color */
}