{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
    <div id="login">
        <div>
            Welcome to STAR *
        </div>
        <form action="/user_stuff/login" method="post">
            {% csrf_token %}
            <div>
                User Name:
            </div>
            <div>
                <input type="text" name="username"/>
            </div>

            <div>
                Password:
            </div>
            <div>
                <input type="password" name="password"/>
            </div>
            <div id="sign_in">
                <input type="submit" value="Sign in"/>
            </div>
        </form>

    </div>
{% endblock %}


