{% extends "base.html" %}

{% load staticfiles %}

{% block nav %}

{% endblock %}

{% block user_info %}

{% endblock %}

{% block sidebar %}
    <ul>
        <li><a href="/scheduler/help_page">Help</a></li>
        <li><a href="/scheduler/source">Source</a></li>
        <li><a href="/scheduler/team">Team</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div id="login">
        <div>
            <h2>Login</h2>
        </div>
        <form action="/user_stuff/login" method="post">
            {% csrf_token %}
            <div>
                username:
            </div>
            <div>
                <input type="text" name="username"/>
            </div>

            <div>
                password:
            </div>
            <div>
                <input type="password" name="password"/>
            </div>
            <div id="sign_in">
                <input class="button blue large" type="submit" value="Sign in"/>
            </div>
        </form>

    </div>
{% endblock %}


