{% extends "base.html" %}

{% block title %} Student Registration and Scheduling {% endblock %}

{% block content %}

    <h2>
    Your Student Record
    </h2>

    <div>
    Student Id: {{ user.student.student_identifier }}
    </div>
    <div>
    Grade Point Average: {{ user.student.studentrecord.gpa }}
    </div>
    <div>
    Standing: {{ user.student.studentrecord.standing }}
    </div>

    <h3>
        You have completed the following courses
    </h3>
    <table>
        {% for course in user.student.completed_courses %}
            <tr>
                <td>{{ course.name }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}